Source: circuittimer
Section: user/other
Priority: optional
Maintainer: unknown <baleboy@unknown>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: www.balenet.com

Package: circuittimer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A timer for interval/circuit training
 Configure exercise time, break time and number of repetitions. Includes audio notifications.
XSBC-Maemo-Display-Name: IntervalTimer
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0
 d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAGxRJREFUeNrkWwd0XdWV3a//
 qq8uWxKSJdtywWCMMSahxWFCgNACOKEkQGiT4EBYEyCLDCQQEkgZSkJC91CS
 GUIIGEIwTrDNuIFNjIts3K1iybKaVX95/9U5977/pS9ZX4WVrMxao7cukj/v
 3XfPOfucs8+59wuu6+L/84/AFHD77bdj+/btE3rQoeeSlglBcBH2a5AECa4r
 qHBF8ZErrp0/I2/KQj0m17iJQBEMNejGQ6qbCElAhsIzdS8MW1io1xI03RB8
 iV74Eh05Eex685MP1j255q/7IToOvddk748naQ2uCJ+iTFj4xYsXewo47bTT
 sGnTpglPUFOSq1kJrerpr95aPitSc02iI3iW3VJWErILfbILyYm5cHW60SJZ
 kwJcI0N2/pkzKLBfhCBmKMDngtQJgcmlAVJYhG7Zph48EhdL2loipcby13as
 fuOxNW+0OXLiYH1ndMLrX7JkiaeAs88+G2vXrh33g+edOKv41MIFX3jgc7de
 mDiUd0X/gXzZ7nfgJmw+7DgJZrtDLSuMhD+MjIbhn6WnUgSIAYmUQ0DyS/AV
 AMHp7V1WXtsrd618bNXG1i3Lt9a3JMcrxx133DExBcyrLPPfdsrVt19UfMVl
 +V1TT23ZSYLGTTg6mdOgvwXBE0r8BzmsmxqO9w/BRy/SVEgRGaUnC9hlb3pv
 Q+ydV+5+d+kLPdHkuBQgj+e9QdL2m7fceWpZ3xm/mtF31sLW1ToO9cbJyra3
 GCawlGGqf2RcFdLvgqd0XYdN6G84IqOwZMEXvnH8wkULrz794q3G6tu/8fLS
 JtcZfboxFVAQ9qtvf/3BG0/quvzR3l2ar+FQNwTH8RaSae1/VjIRU4iwDcSa
 TcTaRXny1H+5dPacU04Rrwx+88bXfvWOaY7+eNaf4khAe2vxzx+Z03D9k60b
 RF+sIc4jmiuSvws08PcfDuyBMfzf6c+OGWwtouuty7TQt6cfTasD5V+x71n2
 9MXfuU2QPgUC8oI+3x+//PDPT2q98ttHtvcBCYtDz/27I5qyQ8asDpxjg6Dg
 3Ze+f0wXoefsowk0b9SUqxfe/QvhUuCG13/5xLgVEPYreOuq+687sfmrt7XU
 MuEJQ5LwqaR3M6XIMgGzo5AS3kqSpVlsoQ/EgAiJRX2dxLYFZF7jiRVuv47D
 H6nalQvu/A/hK/rOW15/7n3TdsZ2gVeuuXX+3OiXH2/fE4NDwjsSJgTkNGAt
 +m96GEkDie4kTMuCJWR87phIRHX0Ux7v7emDVUXE5mRa/wKgZGk+Kj4sgTPZ
 pefNiTsUuYXVl0TLDlv9Wv6SZ+87/4LiMRFwamVlbnn/mU/27NF8Vl8co/nP
 8AwlpKzJL9dTgtFvwDJsBOb4EPpsANH3EkCXy3O6Y9ECbQva6QoCMwJwNReT
 vl2IcHWAo4Hsj4P3HULXnm4EAn7+EsY4xZTdhHEGSaMjgc4dudPmFy/6WXXh
 B9+s6+xKZlXANTXn3zit97MLGg/3eOK444c6uxwmONE84qlElQ0UXBdB5IwQ
 /Cf4EJkXxv7rG9H92z7IYZkzvOI781F4XS60Yo0LxFBhUiBjP5IiIRaPo1vv
 AtRc4j5+qCKxbVKMkIoHwngSEN3QdUDHFyuu+MqCkmW/retcv3pEFzhnxvTJ
 lxQuvvrw3gRlOrKfMF642xzWupVETI8jJibgv0LFnI+nY8pjZSi5thCheUEP
 IXk2Eo6OpGggTsL1NvVDLpBIaZ7grjkoDnOX6ruPw8KP5gGzgZgbR1xPwHRN
 /k7vcsZ2BSaHkUT9Nifw7/Nvuak8P6wNUQBjgyoFufm5Jy2KdFWenKTg4Y7j
 clJpirwaiYSOhKhD/ZyMOR9OQ80LVQjO8UMiEmWZNjzgKggRGpxCB6ZtwpJt
 1D/dhIYXm6EKxxYzbF0+QkbeghwsXDMXU5ceB6Mgif5oFEnK+4MKcMa1Xr07
 gdK+uV89qWD6tCEKSNJiynMC/n8/+RuXNO+jW2lyrjt35OGQtRjMOdTJGsyS
 MbMflY9Nwtx3ZsA/zQfXIXSYDiSROLviQ/O6I9jz4l50rO7kz7s83bkQybU3
 3roFe5cdhKaoA3AWJREq/Zvd5tA8DuX4SZcV4sT3ZyD3uiD6KWAm3SQshobU
 Wvi8WdbM3mcbBtr3B8XfnPutK5gHsYpWTvtvNCpVxFrzLnb0JByHRRt3TH9n
 ljfIz61CEzN+U43JFxUN+K8gCvDJGurWNWL/fx1Ey9ttsFps5El5iIRzuIDM
 ciyoMSW9f916aAUaKs8qg0Xu198WxaEPmzHrohrIikwosjiSAtV+zHx2Kuqr
 mtD4/RaE80OEK4Xja9QUyT6m7GrHdfS1FN1I/3qIPjI5AsI+FU9dcENFb12e
 j2mJs6osV9rzLIFgn0wgocYx46UqEr6YCy9QQaRQbZ4gIvKX21fj3ctXYvcz
 +ykKCciNROAP+yALMrmERNqXoRD0A5ofYlTExgc283SoigriHXEsu/YdPDP3
 RbTWtnEliLLI0cBcY9o9laj4yWT09fQTgpN8TWm3zLp6lhapePN1VJc+dOb5
 kxKW6bmALEjC9MDUa4woeZRpp9JY9sEClk5FiC4lMPPpqSheVEjCm9zqbJFH
 trXht3Nfw+5nD0DuU1CYU4gcNQcBuvx0Ka5CACMVuKQAqPDRlRvORdf7Pdjy
 cC13g+49vVBiCmJ7EnjlzGVY+8MPYMYtrgjHZOnTRs33q1B6VzGhNwqD3NYi
 Nxht3VxBOsEgIUvV/sqvMdfwXMAVlHhn4AzVoAkEdwg1HVqJeggwibxEzRgq
 7y1F+eWTkTQNT3iC9c7f7cHqf10HzdYQUYPwi0zkADRBheqq3OrM9oLg4ZIt
 QiMF2JRFCnOAvY/WwRfyo+7NBhQFijj9tigbbP7xdnTt7cX5T50DX57K0WaK
 FqooS3T+TxditXFCUoAQhQFnyPZjkyLjQvAMCFEPAQnih8nWyZMcYlvZrZ8K
 fg6DfhzKiTIqbywjzZv8ZYok4+C7DXh/yTr4DLKolouIkIMchBECKcL18Uiv
 kPBsgaJLXusK3BVU+pShIEhXcaQIB35UD2GfiHw5DzQLcqUI8gN5aHi1EStu
 XYVk1OBIc4lIafkKZvyiGoakw6Cg6AVDh49sKLBjAvS2ySVJx4B0//33Y/ah
 6Gd8tdNusXucERWXmfZ0l6Av61iwfC6ClX7i7S6HZfvOTvzp4hXQYpS2AhEu
 DIO8apLlyfos0EnIZHEZxQ23mncxhPg0UofkI9RoYBeLEzxYyhLatncg2htD
 1RcrPb5PATtUFUTPwT70fxyDosoDATFbMCTXR1GRzznnqvI3+Wqqg6ULBZcS
 jetgtMtwic8bCeRfFEF4RhC25XAo2+SPy69fBbFPRI4/wiHvE3yQqIjwV/l4
 8GH3pF1o+Lw87Qkij+ZMYPYsH/B++wU/V2ZICiHiz8Ge5w+g9oVPeJZJe+vU
 OyqhKzoPiBbnk/aI7+IFF9HvoKQUlPtLjucK0GNKja07o5Adx0t5pIAoMb2a
 e6Zyi7CXi5KE3a/sRWxXDDlaDg9zbNGyKXMSNOPFahz34GQYMWOAwTkp9pgZ
 sZnFmBLYvMzibLBsoaQurgi6giK5k+PD5p9sR/veTo4sx3EQnhbCcbdMRn8s
 OvCe0SgchTC/octVXAG2Hii2jZSo7tDB/Ib9tpjvxxMoOC8CtUihWGDz/6fQ
 Irc9/gnkpMIDHrMai/IsHbJ72v7UgbLbSlD+w0mI9yd4AGVZJD3/QJ8vNQSK
 C0MGvDiRRgdTQlgLI96YwNand1Ds0aiocuDzq8hbmAOdaDZ7x3A5hg87QetL
 +vJ5FnBMOcB82c1CeuwU3Y1bCUy/rBKhIj8Mw+S+X7emHkabiYAS4AtkPsyb
 HESkrISFA480gtlj1oNVFM1tNDzYBF+QECJ7vuqmegFINUay+S4PtIQK7op0
 BcUA2ta3E7NrRe60XC50/mfykHd6DhKbEpADMjeCOGLFTwpgbXlL8XMF2LGQ
 6hAmsimAvdSkywBVkYrAl0lGpICjYu/v6xBv1ondRTyCI0ieAlgZSbO7tkNK
 qKNqzsGMB6bC0i0c+kUztJCPW9Y1XG5pURV5kDsmQA5Tgpc1VISCYbRsbkHT
 uhYUTi+Ankwit5Ji0wkh9G44wmPGaMHQMSSGfMVTQDwgOVaM4e/YnMmsT6nF
 IIaoFMtQy1SvN0f3Jk3WkbX5grz8PigA0z6HtOQpY89PD5ISgJqHq6lGIGQ8
 3si5f86cHBJcROIgFWA9VJTlqDxFDu/+DMQJlilI0arLKJTGq0ceS9yUqWQP
 rWzNfLcqi1mdJLFK3S/J6W0u7o8jFNfpuJBkGl4QQeH8PJhEmJjFWnd0oHPr
 UarTVU/b7lACwpfL8j0RJCtpYef9ewDNRc2PqyFNpiKp0Ed+G6GcDsTrkmh6
 qgXd7/QSEfLQMRK3F1IcgincTwpo/4jS4lVxnv54bZFHv2UvZrG44QjOiP2B
 NLeR02Wnm6WtMFD0UAbwl2kI5PuhU7ksqxqO1h5F+ydHUSgUEKTICurQebwW
 vsf5HR8timjo1nt3QowIqLl7iuf3lhf9QpRWw/MD2P613ehbFYWf2GAmb8hc
 Txraiqyis7Ybeif5fFmI5xW2RiFIAc4cTIEjuYEn80BDxOWpZKT0xyI2U0CS
 hR7DTJXJdAe7n22Mzgwh7zO5yDktxPNrOv14tbbopTYmCFlNItQYFBib3j8C
 s5+obL9JxQnNHrdh9JGCi32IfD4MQzW9SD5Crc9XK3juwF2nhTJL1PRUQxZl
 bQVWOmdygBEToeOV44MuQKmEQTWzk8vgk0wkEaX4wCKvmOuVsIx96X1JVJ1X
 gWmXVkENqeip7cWGuVsghaUB4dO/OQqo8GGBlM2ed0KO9x57KOpsyhLKJPLb
 gM0zSDqgjpQROAdJzc7Wkx4mPedY9hDqewy66Z9MXnegH+A6Q/rx6QeMuIHc
 c8OouriMFuUi98QcJPuNlPbAG6bsZYmjcez46V7Ymse+RoriHAlUATIlH93Z
 5S1y2I4ScRpEW6K8SyzLipezhWMhPMSWjsv7Fy5fE3H8LuIBSZpbdocwzWO3
 9x1u+IGWWHqkyQ+Dvq046NjWhdCcAKZ9fQrCxLlZGmMKYMO2vWHSZ41/auIR
 OE1yMufLJDYypbpDKyjY1ffyrMOUKMoCZ439LTG0rG2DlVGVjlbesq6yv0SD
 qAkcPRyx3Unu/2M96x0MSSsASO36DI0BrkTFT6eOlRduQP3yQ5B8Hu3MhJyo
 iKh9ejdvYHLB036a6bOp32m6a7QbWPu9jTxF9rfF0NXQg8MfHcHKb61H83ut
 UIPqkPQ30sV+WJlc/oVShCoCvP3GUdttDmS0UTuEkosUVeEQ4BrPXOwARyfi
 Y0Yt/PX6NTj/jUWYvKCYYJbkeZ43LWmxDX9ugm0Q9APCMcIPF4K3RolAzb66
 Bq3b2vHe3WugdyRhtlrQkhQEqZgaYJPI1ptIrS21HZ/sTSI4iZioSFWjls4c
 wgi7UxnpSfDk9oJgCtKsqTH8ARa9NVVBf0cf3rpiBS5963wUzcqHQRGcIaJh
 dROSnUni5AqHeCZ/yLTiQDQmBlk4Jw8V55Ziw/f+ho6N3QhIVOTIVOSoVEq5
 jE4rHCk8X4+gBO7X9JGqKTi4tBGHN7QgND0EmYTvXt8HH6Votm6Ogiwpnss8
 GASPtVgm9WSEIscfxtG2o1i2eDku+cN5KKzJgxKUse/Vg4g1x3n3Jp2f06xt
 uBvw2EKE6Ph7ZqL3YC+aXmtFkVYIhZgQ6xloqUvOiP7ZEMCsL9NzyWgSXR/0
 oe2Do/wJVjIHfUHebMn2fCrx8/XwGCAFeinnOEPSRib1ZFSXNScYPM1mGytu
 eB89DX0UbSmxdVickqaZ20h+y/mEYPOskn82cYZ5Yex5pB6qpXLrB4SA1zaD
 lkp9Ylb/TyMpnWI1WUMoEEJuIIK8QB78mp+nXO6i2WIIo+gqQ3C/xREgyDGT
 7a1TGD0GBd7pL5cvju/D+1zE98TxwT2bUX7mZLSu6ERIC6ZqAXGICobQaYrS
 Yo6AqiXliB2Ko3NlF/w+H2+Ryan/pvf9hruOkNGT5P19x+HU2uBkibiDRgLL
 HkXmnEOQUyQ6O8OFZFIQTphcAZKc7BHo5Y4rjHh+SeIoUOBtFBIFJd/rXx/H
 vs318JHPKpSzGeQGFzx8z86LMSxAmX0W6p5phGBQMFS8tni6kPJqCQ+e7C+v
 Dknlc8fm6dGiICL6gNyzc1BycTmlQBGNjxyG3mjyeiDNOtMzuSPxAFafiDSP
 bPR7CFDiHa4YGhYHMKQK47GA/JQtkjVBGO11+kkoEkJyRN7ykokFss4PJz3i
 oEswUsqijUXC772vjpRg8n6A5zZDS9Y0ceF8grml4vLCRq2WUXZZKW96sN6F
 VqwgPCuI9neP8oCcrh/FIe6TbQeZbfxYhAC9W/YORNi7BGn0gkhILZXDy/UE
 ZJybcQFDN1F2VTFmPz4N9T9rRt2jh3mpqyrKkKAoEAu0Oy3OBpmS+MgA65Bd
 JyqZxWIBs35ThdDxAVgxm3xW5GmZZwdSgkXpuXl5K/raowhR4EsjMLOAGjED
 0PCpbjTsdw7wO1e27VqfsIjTCSMfhHBT+/5egSt5HVquCInvvJZdX4wZD1XB
 7DIx5bulqLhjEuJOHLFEgrcn0/Nw5s4QQ9FbHAh2wpB3uCnEOFRZ9h6K4sDS
 Q4y3kvsIvOK0Y+wcIg3d5q1xdnCCFWq24AyZZ7QhiSJa4n0dG4/W1XIFPHdw
 0yeG2h5lPIAzvBFoYyad9Xr6XsBjtLPw3DweHxg0GROb+t1yzHq8GspsEdF4
 jFd26Xl4oHJTfpqab7A+T1NxotcEe0dzsHfZAXx471a+L8j5e4qzMAbKaorO
 XUd5ZzrrPsDwQfKphKJ6a3/7Kw21bd7eoKpIWqTtsCsKo26FH/OZ4BUrH9+1
 E60bOiCqrEQjJfQamPylAsx7eSYKF+cg7iaQ0BPcWty3B8pUJ2Of3yu7Dceg
 e3Vv39GOw1+loXRRkQdmZ3C3l/H/I5s7cGRLJ2UAceRCKdtFNUsgt6MlKGke
 EWIHj3PD8RW9HeJsdxwnoTJ5AqshYi1xrLv9b5h9x3TMurKaz8DqfTkgYeYP
 qlFxQwL7f3aIOISF2MG41yrLuAbKb9bRCVBuryH3CiioufY4lJ5b7B2sMIdG
 c3ZI20l6ihMlIcvBrCx7I7TmSDC2wkWhpwCTUszKo7Wvn66d+W8Jc/wKSJMR
 lhaTfTo2/WgrOvZ24oz7FnCabMZNTkhYl2b+C7OQaNXR+HIrjFaTNzOO4esk
 VOh4P8q+XAI5KMFOOJ7gqdaNRnWHpEq8F6FHDUQPx3k3kodSIXvtMFR4qhyl
 mLkmuu/1AlR5CogTSXmyac2RL81cfDQRK2b9rTFOILk8ejMMyKkurV/x8/C6
 67/3IdYaxym3n4ACqhlYx4ftyye7DX7krebOCk5asq3TMVwe5IxeT3mchxB/
 YA2MjUu34Mjudnz+ztP5PfV/bEJA9qcaI0KKhrmjnhUSWQMysnfPq7v399wh
 XpByAQpEuZrYJOd2vYbmSd8c73nAdIdW42WwjxdTAhGTw6vb0Va7GlMvnIJT
 lpzAtc4KFcajGBFigWjUeRWRH5BiQrMyd9+yOmx7eRe6DvZAt3QEnQBOuGom
 Ickm3u/tRYy6H5h5HoZSsJbf+TRS59m5AjRJRnPStB5teOPdO4tqbqo/QgAl
 7j7W6c40QQInSF57SmAkiJQQPUpM8Xf12Pv7g6igmn32VTX880hFDny5akZ3
 NjWnmNocsR30NPbzswBtW9vx8a93wqJSxbUFhOUwCrQ8otG9OJBsosInyAs1
 SRiH8KwNRvdOmdQTu2nHH1Z4cUQYPCbH1rFfb1y7379zXUidu8gw7XEdcU0r
 gU3G/3Y9VMhES9lGCtuCbvpzK/a/3QDFJ2P6JdUonJ3L21hiJjISHuTtJFn8
 zXq07+6k6oNcS/URzAN800RKUWbJFtHLOseKV0tIGMdhRhaLyAB/Mzc+12b2
 HBrxnOD2ns6eHQXr//PCyImfbemgRCM4YyphiDswKAoeEtjfrEpUBYNYl0EJ
 LshPcex/tQG7SDVOKo6kWRtLgUgpk+0w5mv53n6goHpWTl1C2t9lbyM13ToX
 x/iSgkMVYllxvO3J3tUvtyd0K+tByZdbPnz1pIq5i4O+0y/Wk8a4DzwjtQeQ
 9kVW0zPrsB0ci0ppvltD/DskevneSbOL1H6MKA5uhGaeIZJTNvbijZRxPBID
 7xLH/IaGiMKIgFX220s3dTduG/WobGsibh6QPlqyqGDWKS0t+aXAxJSQqYh0
 kLRdZ5DyCEO3xV1psPmSFib9PId8al8h2y7ReA5OSxIVToUN63fHah/oNYbm
 +RFPi/9g1/rmH9UEbz4j74Y32roUTRTMCR+BTyvAOwrn8i2I9DabO3BGfMiJ
 +JStvK5COqZkwlsYpc83siLYXRqKinran4m+dNNLjbuNcX9h4of7/7J8je+l
 u0ryraQLZULCZ+4LpH3XA7PiHXth7S/BOwLjSw3vb5/n84IyzO+zW380FDDh
 S0p62pYav77+hcbteyf0hQkWmR9qXP6ENEUUz3Cvebijl5gOFSgj7SCP1z2E
 8Z3vHsOq4zi4zct1hSzffeRF68mbXj685d1P9ZUZlgl/WPfnX34Qfv6i40o7
 DgQpjdm2jP+7P6yaVZEXFFFWUb/2d3jinBebP14+FjcaQ5vAvftWrXpdeP7s
 +shfXqgusS2J4Oq60qe0zz/mm2SOQ+4lK6icHO3cEn7tx88mnjv3+cZtu8d6
 dNzmfGT/xy2Fvu03nBXe9Iery867uig+8+udXbkUrCxenv5zvjbmRRlmxyll
 3dHNzqZnXkyse/3Njj0fwhnfDBPCcyfxhzf02hUfxfetmqaW//wHMy64vKer
 +Aaxr7pEdBXN5a0qkQjP4KZkur/r/eFOzKxu+uxQRnOWVZGidzzPkuJJKffg
 PiF05Klb6t5eedjq2N+l2xNTIeuSzJs3D9u2bfu0ZtC+U3B8cYVcek0slnOW
 Hi0tmS5WFIUktdC2Rb/ryJzzsbMY7gT0LYA1OtlOMw0iT4rsRluNWPsRNHT6
 ctpaIuHY8tU9u99YFmvuY+Hq0yz85ptv9hTwxBNPoK6uboKRdtCaSccjN3y3
 l8b15SdWTJbz5xqGMsU2/XmOLQdsM6jYRmDcX7yTfVFLlHWTta4lWe8OavaB
 j/obP17RXtfFz5WxY7ZEktT0l5qEiecM9pXh/xVgALAafPjWYJjzAAAAAElF
 TkSuQmCC
